<mat-card>
  <mat-card-header>
    <mat-card-title>
      How do my messages look weekly?
    </mat-card-title>
    <mat-card-subtitle>
      Looking at message breakdown week to week.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ngx-charts-bar-vertical-2d
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical-2d>
  </mat-card-content>
</mat-card>
