<div class="container">
  <div class="row">
    <mat-card>
      <mat-card-header>
        <mat-card-title>How many registered users do I have?</mat-card-title>
        <mat-card-subtitle>User growth over time</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <apx-chart
          #chart
          [chart]="chartDetails"
          [colors]="colors"
          [series]="series"
          [xaxis]="xaxis"
          [autoUpdateSeries]="false">
        </apx-chart>
      </mat-card-content>
    </mat-card>
  </div>
</div>
