<mat-card>
  <mat-card-header>
    <mat-card-title>
      With whom do we communicate and do they read our messages?
    </mat-card-title>
    <mat-card-subtitle>
      Number of ZIVVER messages sent and % opened, by top 10 recipient domains
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ngx-charts-bar-horizontal-stacked
      [results]="domainsData"
      [scheme]="colorScheme"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)"
      [view]="view"
      [showDataLabel]="showDataLabel">
      </ngx-charts-bar-horizontal-stacked>
  </mat-card-content>
</mat-card>
