<mat-card>
  <mat-card-header>
    <mat-card-title>
      Does my organization send messages securely when necessary?
    </mat-card-title>
    <mat-card-subtitle>
      Number of emails and % sent securely, by triggered business rule
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ngx-charts-bar-horizontal-stacked
      [results]="businessRulesData"
      [scheme]="colorScheme"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)"
      [view]="view"
      [showDataLabel]="showDataLabel">
    </ngx-charts-bar-horizontal-stacked>
  </mat-card-content>
</mat-card>
