<mat-card>
  <mat-card-header>
    <mat-card-title>
      Does my organization use 2FA effectively?
    </mat-card-title>
    <mat-card-subtitle>
      % of messages sent to recipients with and without ZIVVER accounts
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="graph-container">
      <ngx-charts-bar-horizontal-normalized
        [view]="view"
        [scheme]="colorScheme"
        [results]="messagesSent"
        [xAxis]="showXAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [xAxisLabel]="xAxisLabel"
      ></ngx-charts-bar-horizontal-normalized>
    </div>

    <ngx-charts-bar-horizontal-normalized
      [view]="view"
      [scheme]="colorScheme"
      [results]="verificationMethods"
      [xAxis]="showXAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [xAxisLabel]="xAxisLabel"
    ></ngx-charts-bar-horizontal-normalized>
  </mat-card-content>
</mat-card>
