
.data-container {
    display: flex;

    .data {
        width: 50%;

        .title {
            display: flex;
            font-size: 16px;
            justify-content: center;
            margin-bottom: 0;
            margin-top: 0px;
        }

        .grid-item {
            align-items: center;
            display: flex;
            font-size: 16px;
            justify-content: center;
            flex-direction: column;

            p {
                margin-top: 0;
                margin-bottom: 8px;
            }

            .number {
                font-size: 48px;
                font-weight: bold;
                color: rgb(0, 54, 104);

            }
        }
    }
}

