    <div class="graph-container">
      <apx-chart
        #recipientsWithZIVVERAccount
        [chart]="chartOptions.chartDetails"
        [colors]="chartOptions.colors"
        [legend]="chartOptions.legend"
        [plotOptions]="chartOptions.plotOptions"
        [tooltip]="chartOptions.tooltip"
        [title]="data.twoFactorDataSet.title"
        [series]="data.twoFactorDataSet.series"
        [xaxis]="data.twoFactorDataSet.xaxis"
        [yaxis]="data.twoFactorDataSet.yaxis"
        [noData]="chartOptions.noData"
      >
      </apx-chart>
    </div>
    <apx-chart
      #guestRecipientVerificationMethod
      [chart]="chartOptions.chartDetails"
      [colors]="chartOptions.colors"
      [legend]="chartOptions.legend"
      [plotOptions]="chartOptions.plotOptions"
      [tooltip]="chartOptions.tooltip"
      [title]="data.verificationMethodsDataSet.title"
      [series]="data.verificationMethodsDataSet.series"
      [xaxis]="data.verificationMethodsDataSet.xaxis"
      [yaxis]="data.verificationMethodsDataSet.yaxis"
      [noData]="chartOptions.noData"
    ></apx-chart>
