.content {
  display: flex;
}

.example-container {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
}

.sidenav {
  width: 250px;
  background: #fff;

  nav {
    margin-top: 16px;
    display: flex;
    flex-direction: column;

    mat-button:hover {
      a {
        color: #0B74E7;
      }
    }

    a {
      font-size: 14px;
      font-weight: 500;
      padding: 12px 0 12px 0;
      width: 100%;
      border-bottom: 1px solid #EEEEEE;
      display: flex;
      align-items: center;
      color: #1F1F1F;
      border-radius: 0;
      width: 218px;
      margin: 0 16px 0 16px;
      height: 50px;

      &:first-child {
        color: #0B74E7;

        mat-icon { 
          color: #0B74E7;
        }
      }

      &.title {
        height: 50px;
        padding: 0;
        color: #9E9E9E;
      }

      mat-icon {
        color: #9E9E9E;
        margin-right: 8px;
      }
    }
  }
}

.header {
  background-color: white;
  box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,.1) !important;
  position: relative;
  z-index: 1000;
  height: 80px;

  mat-toolbar-row {
    height: 80px; 
    padding: 40px;

    img { 
      margin-top: 6px;
      height: 50px;
      width: auto;
    }
  
    .header-text {
      font-size: 28px;
      margin-left: 32px;
      color: #0b74e7;
    }
  
    .example-spacer {
      flex: 1 1 auto;
    }

    .person {
      .mat-icon-button {
        font-size: 36px;
        border: 1px solid #0b74e7;
        border-radius: 100%;
        background-color: #0b74e7;
        color: white;
        height: 48px;
        width: 48px;
        font-weight: 300;
      }
    }
  }

  a {
    text-decoration: none !important;
  }
}
