<mat-toolbar class="header">
  <mat-toolbar-row>
    <img src="./assets/Zivver_BLUE_RGB.png"/> 
    <span class="header-text">Data Dashboard Demo</span>
    <span class="example-spacer"></span>
    
    <span class="person">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <span>J</span>
      </button>
    </span>
    <mat-menu #menu="matMenu">
      <a mat-menu-item href="https://app.zivver.com">
        <mat-icon class="log">exit_to_app</mat-icon>
        <span>Log out</span>
      </a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <nav>
        <a mat-button>
          <mat-icon fontSet="material-icons-outlined">home_outline</mat-icon> 
          <span>Analytics Homepage</span>
        </a>
        <a mat-button>
          <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon> 
          <span>Another link</span>
        </a>
        <a class="title">MORE LINKS</a>
        <a mat-button>
          <mat-icon fontSet="material-icons-outlined">speed</mat-icon> 
          <span>Yet another link</span>
        </a>
        <a mat-button>
          <mat-icon fontSet="material-icons-outlined">mail</mat-icon> 
          <span>Final link</span>
        </a>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
