mat-card {
  margin-bottom: 32px;
  
  mat-card-content {
    margin-top: 8px;
  }
}

.filter {
  margin-right: 32px;
  flex-grow: 2;
}

.export {
  flex-grow: 1;
  
  mat-card-content {
    display: flex;
    justify-content: flex-end;
  }
}

.graph {
  flex-grow: 1;
  width: 50%;

  &:nth-child(1){
    margin-right: 32px;
  }

  &:last-child {
    flex-direction: column;
  }
}
