<div class="container">
  <div class="row">
    <mat-card>
      <mat-card-header>
        <mat-card-title>How many registered users do I have?</mat-card-title>
        <mat-card-subtitle>User growth over time</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-sparklines
          [scheme]="colorScheme"
          [results]="userDataSet">
        </app-sparklines>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>How many active users do we have?</mat-card-title>
        <mat-card-subtitle>Active users over time</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-sparklines
          [scheme]="colorScheme2"
          [results]="activeUserDataSet">
        </app-sparklines>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>How many emails are users sending?</mat-card-title>
        <mat-card-subtitle>Total sent emails over time</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-sparklines
          [scheme]="colorScheme3"
          [results]="emailsSentPerUser">
        </app-sparklines>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Completely Random</mat-card-title>
        <mat-card-subtitle>No meaning</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-sparklines
          [scheme]="colorScheme"
          [results]="randomData">
        </app-sparklines>
      </mat-card-content>
    </mat-card>
  </div>
</div>
