/* You can add global styles to this file, and also import other style files */
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "theme.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Structural Styling */
.container {
  padding: 40px;

  .row {
    display: flex;
    flex-direction: row;
  }
}

mat-card {
  border-radius: .25rem !important;
  padding: 24px !important;
  box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,.1) !important;
}

mat-card-header {
  .mat-card-header-text {
    margin: 0 !important;
  }
}

button {
  height: 40px;
}

.mat-menu-content {
  width: 200px;
}